@import "global";

.Comment {
  margin: $standard-margin $standard-margin 0 0;
  background-color: #FFFFFF;
  
  .Details {
    display: flex;
    flex-direction: column;
    padding: 0 $standard-margin 0 0;
    
    .Text {
      font-size: .9em;
    }
  }
}