.Login {
  padding: 24px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .instructions {
    text-align: center;
    margin: 0 0 20px 0;
  }

  p {
    width: 100%;
    text-align: center;
  }

  input {
    font-size: 1.5em;
    padding: 10px;
    max-width: 80%;
  }
}